@import "./app.scss";

.upload-cv {
  &__title {
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
    text-align: center;
  }
  &__form {
    width: 70%;
    margin: auto;
    justify-content: center;
    .ant-form-item-label {
      color: black;
      font-weight: $label-font-weight;
      font-size: 14px;
    }
  }
  &__submit-button {
    float: right;
    &--disable {
      background-color: $disable-color;
      border-color: $disable-color;
    }
  }
  &__file-upload {
    margin: auto;
  }
  &__file-error {
    color: $danger-color;
    padding: 5px;
    margin: auto;
  }
  &__button-next {
    float: right;
  }
  &__button-prev {
    float: left;
  }
  &__free-time-table {
    .ant-table-tbody > tr > th,
    .ant-table-tbody > tr > td {
      text-align: center;
    }
  }
  &__note-text {
    resize: none;
  }
}

.thanks-page {
  padding: 100px 0;
  text-align: center;
  font-size: $title-font-size;
}

.ant-table-thead > tr > th {
  .anticon-filter,
  .ant-table-thead > tr > th .ant-table-filter-icon {
    right: auto;
  }
}

.all-page-container {
  border: double black;
  height: 100%;
  max-height: 550px;
  overflow: auto;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: white;
  border-color: black !important;
}

.ant-checkbox-checked .ant-checkbox-inner:after {
  background-color: white;
  border-color: black !important;
}

.set-interview-form {
  > .ant-form-item {
    margin-bottom: 0px;
  }
}

